@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lilita+One&family=M+PLUS+Rounded+1c&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Pacifico&family=Playwrite+IN:wght@100..400&family=Rubik+Vinyl&family=Rubik+Wet+Paint&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.rubik-wet-paint-regular {
  font-family: "Rubik Wet Paint", serif;
  font-weight: 400;
  font-style: normal;
}
*{
  font-family: Outfit;
}
h2{
  background:'orange';
}